<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GalleryApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88C0E7E32B7EBEB2005C7EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C0E7F92B7EBEB6005C7EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C0E8032B7EBEB6005C7EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
